<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
	<rootUrl>http://dantri.com.vn</rootUrl>
    <criteria>
    	<required>true</required>
        <multipleResult>true</multipleResult>
        <name>category</name>
        <queryString>div.nav-wrap div.clearfix div ul.nav li a[href]</queryString>
    </criteria>
</configuration>
