<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
	<rootUrl>http://dantri.com.vn</rootUrl>
    <siteCriteria>
    	<required>true</required>
        <multipleResult>true</multipleResult>
        <name>category</name>
        <queryString>div.nav-wrap div.clearfix div ul.nav li a[href]</queryString>
    </siteCriteria>
    <pageCriteria>
    	<required>true</required>
        <multipleResult>true</multipleResult>
        <name>article</name>
        <queryString>div div div div div div h2 a[href]</queryString>
    </pageCriteria>
</configuration>
